<div class="container">
  <div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <h1 class="text-center">Create Post</h1>
      <%= form_for(@post) do |f| %>
      <div class="form-group">
          <%= f.text_field :title, autofocus: true, placeholder: "Enter a post title", class: "form-control" %>
      </div>
      <div class="form-group">
          <%= f.text_area :body, placeholder: "Enter post content", class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= link_to 'Back', :back %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>