<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="text-center mb-5 pb-3 border-bottom">
    
      <%= link_to  "Sign in", member_session_path, class: "btn btn-outline-success" %>
      <%= link_to "Sign out", destroy_member_session_path, method: :delete, class: "btn btn-outline-danger" %>
    </div>
    <%= yield %>
  </body>
</html>
